@using startup.Utilities;
@model startup.Models.Post
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<main id="main" class=" main">
    <div class="pagetitle">
        <h1>Thêm mới bài viết</h1>

    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thêm mới bài viết</h5>

                        <!-- General Form Elements -->
                        <form asp-action="Create" method="post">
                    

                            <div class="row mb-3">
                               
                                <label asp-for="MenuID" class="col-sm-2 col-form-label">Chọn mục</label>
                                <div class="col-sm-10">

                                <select class="form-select" asp-items="@(new SelectList(ViewBag.mnList, "Value", "Text"))">
                                    
                                </select>
                                </div>
                                <span asp-validation-for="MenuID" class="alert-danger"></span>
                            </div>
                            @* Title *@
                            <div class="row mb-3">
                                <label asp-for="Title" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input asp-for="Title" placeholder="Nhập chủ đề" type="text" class="form-control">
                                </div>
                                <span asp-validation-for="Title" class="alert-danger"></span>
                            </div>
                            @* Abstract *@
                            <div class="row mb-3">
                                <label asp-for="Abstract" class="col-sm-2 col-form-label">Abstract</label>
                                <div class="col-sm-10">
                                    <input asp-for="Abstract" placeholder="Nhập Abstract" type="text" class="form-control">
                                </div>
                                <span asp-validation-for="Abstract" class="alert-danger"></span>
                            </div>
                            @* Ímage *@
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                                <div class="col-sm-10">
                                    <div class="btn btn-prepend">
                                        <button class="btn btn-success" type="button" onclick="openDialog()">chọn ảnh</button>
                                    </div>
                                    <input class="form-control" type="text" asp-for="Images" id="file_input" aria-describedby="button-addon2">
                                </div>
                            </div>
                            @* Submit *@
                            <div class="row mb-3">

                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Thêm menu</button>
                                    <button asp-controller="Menu" asp-action="Index" class="btn btn-warning">Quay lại</button>

                                </div>

                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


    </section>
</main>